# Default ignored files
/shelf/
/workspace.xml
/caches/deviceStreaming.xml
/EA.iml
/misc.xml
/modules.xml

/vcs.xml

# Binance data and outputs
binance_BTCUSDT_15m_to_2023/
output/
*.zip
*.csv
*.png
*.ipynb_checkpoints
